a.navbar-brand.navbar-link{
}

ul.nav.navbar-nav.navbar-right{
  min-width:83%;
  float:right;
}

div#topbar-1{
  min-height:8px;
  background:#1A1A1A;
  margin-top:-20px;
}

div#topbar-2{
  background:#1A1A1A;
  min-height:40px;
  border-radius:12px;
  margin-top:-29px;
  color:#FFFFFF;
}

#topbar-2 h4{
  padding-top:14px;
}

div#split-body{
  background:rgba(255,255,255,0);
  border-radius:5px;
  color:#0d0d0d;
  margin:0 0 0 -14px;
}

div.split-section{
  padding:5px;
  border-radius:5px;
  text-align:left;
  min-height:230px;
  margin:13px;
}

#split-body-row{
  padding-top:14px;
  margin:0px;
}

.split-section button{
  background:#262626;
}

.split-section input{
  min-height:35px;
  border-radius:3px;
}

.split-section select{
  min-height:35px;
  border-radius:3px;
  max-width:60%;
}

div#col4-bar{
  height:50px;
  max-width:50%;
  background:#262626;
  margin:10px 0 10px 0;
  border-radius:5px;
  color:white;
  padding:14px 0 0 0;
}

#col4-bar a{
  color:white;
  padding:10PX;
  font-weight:bold;
}

div#appointment-list-tab{
  background:#566777;
  margin-top:20px;
  border-radius:3px;
  clear:both;
}

#appointment-list-tab p{
  color:#FFFFFF;
}

.appointment-list-tab-btn{
  background:#262626;
  float:left;
  border:none;
  margin:1px;
}

.navbar img{
  max-height:400%;
  background-color:white;
  border-radius:5px;
  padding:7px;
  margin:-10px 0 8px 8px;
}

div#table-row table{
  background-color:white;
  border-radius:4px;
  border:1px solid black;
  overflow:scroll;
}

