a.navbar-brand.navbar-link{
  min-height:110px;
}

ul.nav.navbar-nav.navbar-right{
  min-width:83%;
  float:right;
}

.nav a{
  font-size:1.1em;
  color:green;
}

div#topbar-1{
  min-height:8px;
  background:#5B6D7D;
  margin-top:-20px;
}

div#topbar-2{
  background:#5B6D7D;
  min-height:50px;
  border-radius:12px;
  margin-top:-29px;
  color:#FFFFFF;
}

#topbar-2 h3{
  padding-top:10px;
}

div#split-body{
  background:#4B5D6E;
  border-radius:5px;
  margin:0 0 0 -14px;
}

div.split-section{
  padding:5px;
  background:#FFFFFF;
  border-radius:5px;
  text-align:left;
  min-height:230px;
  margin:13px;
}

#split-body-row{
  padding-top:14px;
  margin:0px;
}

.split-section button{
  background:#72A215;
}

.split-section input{
  min-height:35px;
  border-radius:3px;
}

.split-section select{
  min-height:35px;
  border-radius:3px;
  max-width:60%;
}

div#col3-bar{
  height:50px;
  background:#72A215;
  margin-top:-10px;
  border-radius:5px;
  text-align:center;
}

#col3-bar > h5{
  padding-top:14px;
  color:white;
}

div#col4-bar{
  height:50px;
  background:#72A215;
  margin-bottom:10px;
  border-radius:5px;
  color:white;
  padding:3px;
}

#col4-bar a{
  color:white;
  padding:10PX;
  font-weight:bold;
}

div#appointment-list-tab{
  background:#566777;
  min-height:88px;
  margin-top:20px;
  border-radius:3px;
  clear:both;
  padding:2px;
}

#appointment-list-tab p{
  color:#FFFFFF;
  font-size:1.2em;
  padding:2px;
}

.appointment-list-tab-btn{
  background:#72A215;
  padding:3px;
  font-size:1.1em;
  float:left;
  border:none;
  margin:1px;
}

